/* You can add global styles to this file, and also import other style files */
body {
    background-color: lightgray !important;
}

.contact-image{
    width: 100px;
    border-radius: 50%;
}
.contact-image-big{
    border-radius: 50%;
    width: 200px;

}

.center-image-parent {
    display: flex;
}
.center-image-child{
    width: 100px;
    height: 100px;
    margin: auto;
}