<div class="row">
  <div class="col">
    <p class="h3 fw-bold text-danger">Add Contact</p>
    <p class="fst-italic">
      Add your contact
    </p>
  </div>
</div>

<!-- Loading spinner -->
<div *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
  <!-- Error Messages -->
  <div *ngIf="!loading && errorMessage">
    <div class="row">
      <div class="col">
        <p class="h4 text-danger fw-bold">
          {{ errorMessage }}
        </p>
      </div>
    </div>
  </div>

<!-- Contact form -->
<div class="row">
  <div class="col-sm-3">
    <form (submit)="createSubmit()">
      <div class="mb-2">
        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="contact.name" name="name" required />
      </div>
      <div class="mb-2">
        <input type="text" class="form-control" placeholder="Photo URL" [(ngModel)]="contact.photo" name="photo"/>
      </div>
      <div class="mb-2">
        <input type="email" class="form-control" placeholder="Email" [(ngModel)]="contact.email" name="email" />
      </div>
      <div class="mb-2">
        <input type="number" class="form-control" placeholder="Mobile" [(ngModel)]="contact.mobile" name="mobile"/>
      </div>
      <div class="mb-2">
        <input type="text" class="form-control" placeholder="Title" [(ngModel)]="contact.title" name="title"/>
      </div>
      <div class="mb-2">
        <select class="form-control" *ngIf="groups.length > 0" [(ngModel)]="contact.groupId" name="groupId">
          <option value="" [selected]="0" value="0" disabled>Select a Group</option>
          <option *ngFor="let group of groups" [value]="group.id">
            {{ group.name }}
          </option>
        </select>
      </div>
      <div class="mb-2">
        <input type="submit" class="btn btn-danger" value="Create" />
        <a routerLink="/" class="btn btn-dark ms-2">Close</a>
      </div>
    </form>
  </div>

  <div class="col-sm-4">
    <img
      src="https://static.thenounproject.com/png/363639-200.png"
      class="contact-image"
      alt=""
    />
  </div>
</div>
